@charset "utf-8";

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex-grow: 1;
}

.team-list li {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    line-height: 1.75rem;


}

.selection-container {
    padding-bottom: 10px;
}

// If need, change your variables before importing Bulma
$navbar-item-img-max-height: 4rem;
$primary: #2c7814;
$footer-background-color: #2c7814;
$footer-color: #ffffff;
$footer-padding: 3rem 1.5rem 3rem;
$link: #2c7814;

@import "~bulma/bulma.sass";